.DS_Store
/.build
/.swiftpm
/Packages
/*.xcodeproj

Multi.app/Contents/MacOS/Preferences
Multi.app/Contents/Resources/Runtime
Multi.app/Contents/Resources/blocklist.json
Multi.app/Contents/_CodeSignature/
