<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>                  <string>Multi</string>
    <key>CFBundleIdentifier</key>            <string>llc.gumbs.multi</string>
    <key>CFBundleExecutable</key>            <string>Preferences</string>
    <key>CFBundleIconFile</key>              <string>Icon.icns</string>
    <key>LSMinimumSystemVersion</key>        <string>10.11</string>

    <key>CFBundleURLTypes</key>              <array>
                                               <dict>
																								 <key>CFBundleTypeRole</key>    <string>Viewer</string>
                                                 <key>CFBundleURLName</key>     <string>llc.gumbs.multi.scheme</string>
                                                 <key>CFBundleURLSchemes</key>  <array><string>llc.gumbs.multi</string></array>
                                               </dict>
                                             </array>

    <key>CFBundlePackageType</key>           <string>APPL</string>
    <key>CFBundleInfoDictionaryVersion</key> <string>6.0</string>
    <key>CFBundleVersion</key>               <string>2.0.7</string>
    <key>CFBundleGetInfoString</key>         <string>2.0.7</string>
    <key>CFBundleShortVersionString</key>    <string>2.0.7</string>
    <key>NSPrincipalClass</key>              <string>NSApplication</string>
    <key>NSMainNibFile</key>                 <string>MainMenu</string>
  </dict>
</plist>
